/* styles.css */

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding-bottom: 50px; /* Space for the footer */
}

header {
    background-color: #00457c;
    color: #ffffff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 2rem;
}

#home {
    text-align: center;
    padding: 50px 0;
    background: url('path-to-your-background-image.jpg') no-repeat center center/cover;
    position: relative; /* Ajouté pour la superposition */
}

/* Ajout d'un overlay pour une meilleure lisibilité du texte */
#home::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Noir semi-transparent */
    z-index: 0;
}

/* Assurez-vous que le contenu de #home est positionné au-dessus de l'overlay */
#home > * {
    position: relative;
    z-index: 1;
}

#home h1, #home p {
    color: #ffffff; /* Blanc pour un meilleur contraste */
}

#home img {
    max-width: 150px;
    margin: 20px 0;
    border-radius: 50%;
}



section h2 {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #00457c;
}

section p, section a {
    margin-bottom: 1rem;
}

a {
    color: #00457c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 0.5rem 0;
}

form input[type='text'],
form input[type='email'],
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}

form button {
    padding: 0.7rem 2rem;
    background-color: #00457c;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #003366;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: relative; /* changé de 'absolute' à 'relative' */
    bottom: 0; /* cette ligne peut être supprimée car 'relative' ne l'utilise pas */
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
